//Custom styles for the FiveAlive Watermelon theme option.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

$primary:       #E61437; //#eb1e41;
$secondary:     #8c1932;
$success:       #5cb85c;
$info:          #a51e37;
$warning:       #f0ad4e;
$danger:        #ff5c1a;
$light:         #ffffff;
$dark:          #a51e37;

$theme-colors: (
    "primary":            #E61437, // #eb1e41,
    "secondary":         #8c1932,
    "success":             #5cb85c,
    "info":               #a51e37,
    "warning":             #f0ad4e,
    "danger":              #ff5c1a,
    "light":            #ffffff,
    "dark":                #a51e37
);


// The following are default values from vendor/twbs/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.

$gray-600: #6c757d;
$gray-900: #212529;

$white:    #fff;
$black:    #000;
$light: #b51360;
$bg-light: $light;
$bg-dark: #a51e37;

// Links
$link-color: #E11436;
$link-hover-color:               darken($link-color, 15%);
$link-hover-decoration:       underline !default;
$btn-link-disabled-color:     $gray-600 !default;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #ffdace; // Same as $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #a61a32; // Same as $dropdown-link-hover-bg;

// Navbar

// Typography
$hr-border-color: #faada1;
$text-muted:  #6B737B;

// Cards
$card-border-color: #49006c;

// Tables
$table-border-color: #faada1;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: #555555;
$input-bg: #ffdace;
$input-border-color: #faada1;
$input-border-top-color: #faada1;
$input-border-right-color: #fcf6f9;
$input-border-bottom-color: #fcf6f9;
$input-border-left-color: #faada1;

// Form validation

// Dropdowns
$dropdown-bg: #AD3245; //#e71e40; // #771437
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f9f9f9;
$dropdown-link-hover-bg: #a61a32; // #61102d
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #a61a32; // Same as $dropdown-link-hover-bg; // #61102d
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #b51360;
$pagination-color: #b51360;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #b51360;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #b51360;
$pagination-active-border-color: #b51360;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #851e0e !important;
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

$top-bg: #C63A4F; // #a51e37;
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
$topbar-bg: #7a3030; // #527A30; // #13850b;
$topbar-link-color: #fff;
$bg-dark-info: #f2f2f2;
$page-header-link-color: #000;

$topbar-dark-bg: #35061d;
$top-light-bg: transparent; // #117485;
$top-light-color: #f9f9f9;
$top-light-link-color: $top-light-color;
$topbar-light-bg: #063035;
$topbar-light-color: #f9f9f9;

$top-dark-bg: transparent; // #117485; // $top-light-bg; defining the variable with a variable didn't work.
$top-dark-color: #fff;
$top-dark-link-color: $top-dark-color;
$topbar-dark-bg: #063035; // $topbar-light-bg;
$topbar-dark-color: $topbar-light-color;

$navbar-light-color: $top-light-color;
$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-color: $top-light-color;
$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;

$side-column-heading-color: #6c0c02;

$topbar-dark-bg: #35061d;
$footer_liner-card-inner-border: #b51360;

$footer-accent-color: #b51360;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #771437;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #61102d;

$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #e71e40;
$autotoc-color: #c21e3b;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #76142a;

// These variables need to be defined for the files to compile. The specific variables for the child theme's button colors are defined
// at the bottom of the file but by default they use the child theme's theme-colors. There appears to be redundancy in defining colors but each line is necessary.
// There are unique names for the child theme button colors to avoid any conflict with the general theme colors.

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$enable-gradients:               false;
$enable-shadows:              false;
$input-btn-focus-width:       .2rem !default;
$btn-focus-width:             $input-btn-focus-width !default;


//.bg-dark {background: #35061d !important; }
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #e71e40;
$autotoc-color: #c21e3b;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #76142a;
$topbar-dark-bg: #35061d;
$postbody-title-card-title-color: #fff;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-bg-light: linear-gradient(to bottom,  #c51e3c 0%,#e71e40 100%);
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-link-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-link-hover-color};

    --tiki-topbar-bg-light: #{$topbar-light-color};
    --tiki-topbar-light-color: #{$topbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-link-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-top-bg-dark: linear-gradient(to bottom,  #c51e3c 0%,#e71e40 100%);
    --tiki-top-dark-color: #{$top-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-topbar-bg-dark:#{$topbar-dark-bg};
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-link-hover-color};
}