// $Id$ Custom variables for the Raspberry theme option of the FiveAlive and FiveAlive-lite themes

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
// Variables needed for button color variants (start)
$theme-colors: (
    "primary":            #D70977, // #eb0a82,
    "secondary":         #781437,
    "success":             #5cb85c,
    "info":               #8c1946,
    "warning":             #f0ad4e,
    "danger":              #85072e, //#ff5c1a,
    "light":            #ffffff,
    "dark":                #b50964
);

$primary:       #D70977; // #eb0a82;
$secondary:     #781437;
$success:       #5cb85c;
$info:          #8c1946;
$warning:       #f0ad4e;
$danger: #85072e;
$light:         #ffffff;
$dark:          #b50964;

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// The following are default values from vendor/twbs/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.

$gray-600: #6c757d !default;
$gray-900: #212529;

$white:    #fff;
$black:    #000;
$light: #D10A74; // #e10c7c;
//$primary: #e10c7c;

$bg-light: #D10A74; // #e10c7c

$link-color:                   #b51360;
$link-hover-color:               darken($link-color, 15%);
$link-hover-decoration:       underline !default;
$btn-link-disabled-color:     $gray-600 !default;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f9dcec; // Same as $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #61102d; // Same as $dropdown-link-hover-bg;

// Navbars
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;
$top-bg: #cd0a53; // #E00B7C; //#b50964;
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
$topbar-bg: #e30b5d; // #e60b7f; Actual Raspberry hex color
$topbar-link-color: #fff;
$bg-dark-info: #f2f2f2;
$page-header-link-color: #000;

// Typography
$hr-border-color: #e10c7c;
$text-muted:  #6B737B;

// Cards
$card-border-color: #e60b7f;

// Tables
$table-border-color: #f459ab;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: #555555;
$input-bg: #f9dcec;
$input-border-color: #fa9ccd;
$input-border-top-color: #fa9ccd;
$input-border-right-color: #fcf6f9;
$input-border-bottom-color: #fcf6f9;
$input-border-left-color: #fa9ccd;

// Form validation

// Dropdowns
$dropdown-bg: #771437;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #61102d;
$dropdown-link-active-color: #f2f2f2;
$dropdown-link-active-bg: #e60b7f;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #b51360;
$pagination-color: #b51360;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #e10c7c;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #b51360;
$pagination-active-border-color: #b51360;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Aug 18 2022 start
$top-bg: #49006c; // Used for $post-card-header-bg and .postbody-title
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
//$topbar-bg: #063035;

$top-dark-bg: #cd0a53;
$top-dark-color: #fff;
$topbar-dark-bg: #e30b5d; // $topbar-light-bg;
$topbar-dark-color: #fff;

$top-light-bg: $top-dark-bg; // #a52874;
$top-light-color: $top-dark-color; // #fff;
$topbar-light-bg: $topbar-dark-bg;  // #551e3d;
$topbar-light-color: $topbar-dark-color; //#fff;

$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;
// Aug 18 2022 revamp end


$side-column-heading-color: #e60b7f;

$middle_outer-inset-shadow-bg: #35061d;
$footer_liner-card-inner-border: #eb0a82;

$footer-accent-color: #eb0a82;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #771437;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #61102d;

$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #e60b7f;
$autotoc-color: #b51360;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #61102d;


// These variables need to be defined for the files to compile. The specific variables for the child theme's button colors are defined
// at the bottom of the file but by default they use the child theme's theme-colors. There appears to be redundancy in defining colors but each line is necessary.
// There are unique names for the child theme button colors to avoid any conflict with the general theme colors.

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$enable-gradients:               false;
$enable-shadows:              false;
$input-btn-focus-width:       .2rem !default;
$btn-focus-width:             $input-btn-focus-width !default;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-bg-light: #{$top-light-bg};
    --tiki-top-light-color: #{$top-light-color};
    --tiki-top-light-link-color: #{$top-link-color};
    --tiki-top-light-link-hover-color: #{$top-link-hover-color};

    --tiki-topbar-bg-light: #{$topbar-light-bg};
    --tiki-topbar-light-color: #{$topbar-light-color};
    --tiki-topbar-light-link-color: #{$top-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-light-link-hover-color};

    --tiki-top-bg-dark: #{$top-dark-bg};
    --tiki-top-dark-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-topbar-bg-dark: #{$topbar-dark-bg};
    --tiki-topbar-dark-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-top-light-border: solid #000;
    --tiki-top-dark-border: solid #000;
    --tiki-top-border-width: 0 0 5px 0;
}
