// $Id$
// This file defines variables for the Feb12 theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff;
$black:    #000;

$gray-700: #495057;
$gray-900: #212529;

$primary: #3071a9;
$secondary: #ddd;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$light: #fff;
$dark: #000;

$theme-colors: (
     "primary":     #2623a9,
     "secondary":   #dddddd,
     "success":     #5cb85c,
     "info":        #5bc0de,
     "warning":     #f0ad4e,
     "danger":      #d9534f,
     "light":       #ffffff,
     "dark":        #000000
);

// Options
// Spacing

// Body
$body-bg: #e6f3f6;
$body-color: $gray-700;

// Links
$link-hover-decoration: none;

// Components
$component-active-bg: #5bacd7;

// Fonts
$font-family-sans-serif: "Trebuchet MS", "Tahoma", sans-serif;
$headings-font-weight: 700;
$headings-color: #93554a;
$blockquote-footer-color: #4D4D4D;

// Tables
// Buttons
$btn-primary: $primary;

// Forms
// Form validation
$form-feedback-valid-color: #388038;
$form-feedback-invalid-color: #D1332E;

// Dropdowns
$dropdown-header-color: #d0cece;
$dropdown-link-color: #fff;
$dropdown-bg: #4d90bd;
$dropdown-link-hover-bg: darken($dropdown-bg,10%);

// Navs
// Navbar
$navbar-dark-color: #ffffff;
$navbar-dark-bg: #426d95;

// Navbar links
$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);
$navbar-dark-hover-bg: transparent;
$navbar-dark-active-color: $navbar-dark-hover-color;
$navbar-dark-active-bg: transparent;

// Navbar light
$navbar-light-color: $gray-900;
$navbar-bg-light: #3e7ca1;

// Inverted navbar links
$navbar-link-color: #f5f5f5;

// Pagination
// Jumbotron
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
$list-group-active-bg: #205886;

// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
$enable-gradients:          true;
$enable-negative-margins:     true;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$tiki-topbar-row-margin-bottom: 0;

$blockquote-left-border-color: #4D4D4D;


:root {
    --tiki-top-bg-light:  linear-gradient(to bottom,  #dbdbdb 0%,#b6b6b6 2%,#acacac 3%,#ababab 5%,#c8c8c8 10%,#d4d4d4 17%,#e6e6e6 48%,#eaeaea 60%,#f3f3f3 77%,#fdfdfd 90%,#ffffff 100%);
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-topbar-bg-light: linear-gradient(to bottom,  #dbdbdb 0%,#b6b6b6 2%,#acacac 3%,#ababab 5%,#c8c8c8 10%,#d4d4d4 17%,#e6e6e6 48%,#eaeaea 60%,#f3f3f3 77%,#fdfdfd 90%,#ffffff 100%);
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-top-bg-dark: linear-gradient(to bottom,  #3e7ca1 0%,#609ec3 3%,#163866 5%,#0b2d5b 8%,#0f2658 11%,#002552 16%,#002d57 24%,#052b58 27%,#0c3867 43%,#11406e 57%,#1b507c 76%,#235685 86%,#1c5b87 100%);
    --tiki-top-dark-color: rgba($white, .75); //#{$navbar-dark-color};
    --tiki-top-dark-link-color: rgba($white, .75);
    --tiki-top-dark-link-hover-color: rgba($white, .85);

    --tiki-topbar-bg-dark: linear-gradient(to bottom, #3e7ca1 0%, #609ec3 3%, #163866 5%, #0b2d5b 8%, #0f2658 11%, #002552 16%, #002d57 24%, #052b58 27%, #0c3867 43%, #11406e 57%, #1b507c 76%, #235685 86%, #1c5b87 100%);
    --tiki-topbar-dark-color: rgba($white, .75);
    --tiki-topbar-dark-link-color: rgba($white, .75);
    --tiki-topbar-dark-link-hover-color: rgba($white, .85);
}