header.page-header::before,
.layout_social > .container:before {
    content: none;
}

.topbar {
    margin-bottom: 20px;
}


// Widens scope of Bootstrap rule to cover L&F admin anchors filter, etc.
li.dropdown-item {
    background-color: $dropdown-bg;
    color: $dropdown-link-color;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: $dropdown-link-hover-bg;
    color: $dropdown-link-hover-color;
}
