// Formerly _button_color_variables.scss, this file evolved with variables moving to the variables file
// and CSS selectors remaining.

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
    //.tiki > .navbar.fixed-top.bg-dark,
    //.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
.bg-dark
{
    background: #bebc24;
    background: linear-gradient(to right,  #bebc24 0%,#ded319 53%,#e7d915 100%);
}

// CSS is used because Bootstrap partials aren't available for theme variables, etc.

.text-danger {
    color: #D63D00 !important;
}
.text-dark {
    color: $dark !important;
}

//.bg-dark {
//    background-color: $dark !important;
//}

.btn-dark {
    color: #fff;
    background-color: $dark; // This isn't working.
    border-color: $dark;
}

.btn.btn-outline-primary {
    color: #80780A;
    border-color: #80780A;
}

.btn.btn-outline-success {
    color: #3A833A;
    border-color: #3A833A;
}
.btn.btn-outline-warning {
    color: #A2630B;
    border-color: #A2630B;
}
.btn.btn-outline-info {
    color: #6E7425;
    border-color: #6E7425;
}
.breadcrumb-item.active {
    color: $text-muted !important;
}

.valid-feedback,
.valid-tooltip { color: #288040; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label,
.invalid-feedback,
.invalid-tooltip { color: #D13B00 !important; }

.bg-danger,
.bg-warning {
    .card-title {
        color: #fff;
    }
}

.badge.bg-primary,
    //.badge.bg-danger,
.badge.bg-warning,
.badge.bg-success,
.badge.bg-info {
    color: #000;
}
.page-item.disabled, .list-group-item.disabled {
    color: $text-muted !important;
}

.progress-bar.bg-warning,
.progress-bar.bg-info,
.progress-bar.bg-success {
    color: #000;
}

.text-primary { color: #80780A !important; }
.text-warning { color: #A0630E !important; }
.text-success { color: #3A833A !important; }
.text-info { color: #6E7425 !important; }