// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$primary: #0001a6;
$dark: #ccc;
$theme-colors: (
     "primary": #0001a6,
);

// Options
// Spacing

// Body
$body-color: #222;

// Links
$link-hover-decoration: none;

// Components
$component-active-bg: #aaaaaa;

// Fonts
$font-family-sans-serif: "Verdana", "Arial", sans-serif;
$font-size-base: .9rem;
$popover-font-size: $font-size-base * .875;

$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-h1: floor(($font-size-base * 1.8)); // ~36px
$font-size-h2: floor(($font-size-base * 1.7)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.3)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
$headings-font-weight: 700;

// Tables
// Buttons
// Forms
// Dropdowns
// Navs

// Navbar
$navbar-light-border: #aaaaaa;

// Navbarlinks ??
$navbar-light-color: $primary;
$navbar-light-hover-color: lighten($primary, 8%);
$navbar-dark-color: $primary;
$navbar-dark-hover-color: lighten($primary, 8%);

// Pagination
$pagination-active-bg: #aaaaaa;
$pagination-active-border: darken(#aaa, 10%);

// Jumbotron
// Cards
$card-border-color: #999999;

// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close

// Code
$code-color: $body-color;
$code-bg: #eee;

$enable-gradients: true;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //


// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-bg-light: linear-gradient(to bottom, #e3e3e3 0%, #cccccc 100%);
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-topbar-bg-light: linear-gradient(to bottom, #e3e3e3 0%, #cccccc 100%);
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-top-bg-dark: linear-gradient(to bottom, #e3e3e3 0%, #cccccc 100%);
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-topbar-bg-dark: linear-gradient(to bottom, #e3e3e3 0%, #cccccc 100%);
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
}