{* $Id$ *}

<div class="d-flex">
    <div class="me-4">
    <span class="float-start fa-stack fa-lg margin-right-18em" alt="{tr}Changes Wizard{/tr}" title="Changes Wizard">
        <i class="fas fa-arrow-circle-up fa-stack-2x"></i>
        <i class="fas fa-flip-horizontal fa-magic fa-stack-1x ms-4 mt-4"></i>
    </span>
    </div>
    <br/><br/><br/>
    <div class="flex-grow-1 ms-3">
        <img class="float-sm-end" src="img/icons/large/doc_site_logo.png" width="70" alt="{tr}Documentation site{/tr}" title="{tr}Documentation site{/tr}"/>
        {tr}Related pages from the Official Documentation site <em>https://doc.tiki.org</em>{/tr}.
        <div>
            <div class="simplebox">
                <div class='titlebar'>
                    <b>doc.t.o/Tiki24:</b> {tr}To see it in full size out of this frame,{/tr} <a class="wiki external" target="_blank" href="https://doc.tiki.org/tiki-index_p.php?page=Tiki24" rel="external nofollow">{tr}click here{/tr}</a>
                    <img src="img/icons/external_link.gif" width="15" height="14" class="icon" />
                </div>
                <p><iframe name="Documentation of changes from Tiki 23 to Tiki 24" width="100%" height="300" align="middle" frameborder="1" marginheight="0" marginwidth="0" scrolling="auto" src="https://doc.tiki.org/tiki-index_p.php?page=Tiki24"></iframe></p>
            </div>
            <br/><br/>
        </div>
        <div>
            <div class="simplebox">
                <div class='titlebar'>
                    <b>doc.t.o/Tiki24from21:</b> {tr}To see it in full size out of this frame,{/tr} <a class="wiki external" target="_blank" href="https://doc.tiki.org/tiki-index_p.php?page=Tiki24from21" rel="external nofollow">{tr}click here{/tr}</a>
                    <img src="img/icons/external_link.gif" width="15" height="14" class="icon" />
                </div>
                <p><iframe name="Documentation of changes from Tiki 21 to Tiki 24" width="100%" height="300" align="middle" frameborder="1" marginheight="0" marginwidth="0" scrolling="auto" src="https://doc.tiki.org/tiki-index_p.php?page=Tiki24from21"></iframe></p>
            </div>
            <br/><br/>
        </div>
        <div>
            <div class="simplebox">
                <div class='titlebar'>
                    <b>doc.t.o/Upgrade:</b> {tr}To see it in full size out of this frame,{/tr} <a class="wiki external" target="_blank" href="https://doc.tiki.org/tiki-index_p.php?page=Upgrade" rel="external nofollow">{tr}click here{/tr}</a>
                    <img src="img/icons/external_link.gif" width="15" height="14" class="icon" />
                </div>
                <p><iframe name="Documentation for Upgrades" width="100%" height="300" align="middle" frameborder="1" marginheight="0" marginwidth="0" scrolling="auto" src="https://doc.tiki.org/tiki-index_p.php?page=Upgrade"></iframe></p>
            </div>
        </div>
    </div>
</div>
