/* Lighty theme newsletter stylesheet */
body {
  background: #fff;
  color: #212529;
  font-family: var(--bs-font-sans-serif);
  padding: 15px;
}
a, a:visited {
  color: #0d6efd;
}
a:hover {
  color: #0a58ca;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
.card {
  margin-bottom: 1.5;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}
:root {
  --tiki-top-bg-light: #ffffff;
  --tiki-top-light-color: #adb5bd;
  --tiki-top-light-link-color: #adb5bd;
  --tiki-top-light-link-hover-color: #343a40;
  --tiki-topbar-bg-light: #ffffff;
  --tiki-topbar-light-color: #adb5bd;
  --tiki-topbar-light-link-color: #adb5bd;
  --tiki-topbar-light-link-hover-color: #343a40;
  --tiki-top-bg-dark: #222;
  --tiki-top-dark-color: #fff;
  --tiki-top-dark-link-color: #ffffff;
  --tiki-top-dark-link-hover-color: #343a40;
  --tiki-top-dark-link-hover-bg: #111;
  --tiki-top-dark-link-active-bg: #111;
  --tiki-topbar-bg-dark: #222;
  --tiki-topbar-dark-color: #fff;
  --tiki-topbar-dark-link-color: #ffffff;
  --tiki-topbar-dark-link-hover-color: #343a40;
  --tiki-topbar-dark-link-hover-bg: #111;
  --tiki-topbar-dark-link-active-bg: #111;
}
body {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}
